/* body {
  background-color: rgb(206, 220, 255);
} */
.centerContainer {
  width: 1200px;
  margin: 0 auto;
}
.countryul {
  text-align: center;
}
.countryli {
  position: relative;
  left: 37px;
  display: inline-block;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

.countryli:hover {
  background-color: black;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}
.countryli.active {
  background-color: black;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}
.clickCountry {
  position: relative;
  left: 75px;
  top: -20px;
  font-size: 1.5rem;
  font-weight: bold;
}
.clickCountryName {
  display: inline-block;
  padding-left: 5px;
}
.countryImage {
  position: relative;
  top: 10px;
  background-color: white;
  border-radius: 50px;
  padding: 10px;
}
.arrow {
  position: relative;
  top: 5px;
  left: 2px;
}
.region {
  font-weight: 1000;
  font-size: 1.5rem;
}
.regionDes {
  font-weight: 600;
  font-size: 1.2rem;
}
.currentpopularity {
  position: absolute;
  left: 410px;
  background-color: rgb(206, 220, 255);

  padding: 5px;
}
.currentContain {
  background-color: rgb(244, 245, 247);
  margin-top: 50px;
  padding-bottom: 60px;
  //width: 1200x;
}
.colorDiv {
  background-color: rgb(206, 220, 255);
  width: 1000px;
  padding-left: 398px;
  //padding-left: 500px;
  padding-right: 500px;
  padding-top: 60px;
  position: relative;
  left: -349px;
}
.festivalschedule {
  position: absolute;
  left: 400px;
  top: 1467px;
  background-color: rgb(206, 220, 255);

  padding: 5px;
}
.schedulDes {
  font-weight: 600;
  font-size: 1.2rem;
}
.minusD-dayContain {
  positiona: relative;
  left: 500px;
}
