.festivalContain {
  display: inline-block;
  position: relative;
  left: 200px;
  top: 85px;
  margin-right: 50px;
  margin-bottom: 50px;
  padding-bottom: 70px;
  background-color: white;
  //border: 2px solid lightgray;
  border: 1px solid gray;
}
.festivalContain:hover {
  background-color: rgb(206, 220, 255);
  box-shadow: 5px 5px 5px 5px gray;
}

.festivalName {
  text-align: center;
  font-weight: bold;
  font-size: 17px;
}
.festivalLocation {
  text-align: center;
  width: 250px;
  position: absolute;
  //top: 0px;
  padding-top: 10px;
  font-size: 15px;
}
