.RepFestivalDiv {
  position: relative;
  left: 150px;
  top: -30px;
  display: inline-block;
  background-color: white;
  margin-right: 50px;
  margin-top: 10px;
  list-style-type: none;
  width: 280px;
  height: 280px;
  border: 2px solid black;
  bottom: 10px;
}
.dayRemain {
  background-color: black;
  color: white;
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 1.2rem;
  text-align: center;
  position: relative;
  right: 30px;
}
.name {
  font-weight: bold;
  font-size: 1.3rem;
  position: relative;
  right: 24px;
  top: 10px;
}
.description {
  font-weight: bold;
  position: relative;
  right: 22px;
  top: 15px;
  text-align: center;
}
li {
  margin-bottom: 10px;
  list-style-type: none;
}
.lookDetail {
  border-width: 0 0 1px;
  background-color: transparent;
  border-color: rgb(140, 140, 140);
  color: rgb(140, 140, 140);
  position: relative;
  left: 127px;
  top: 120px;
  font-size: 16px;
}
