.calendar {
  display: inline-block;
  position: relative;
  top: 1rem;
  left: 22%;
  padding-left: 1%;

  width: 3.3%;
  border-top: 1px solid #444444;
  border-bottom: 1px solid #444444;
}
.Year-Month-dayContainer {
  position: relative;
  top: 2rem;
  left: 40%;
  margin-bottom: 2%;
}
.period {
  display: inline;
  font-weight: bold;
  font-size: 2.5rem;
  padding-left: 0.5%;
}
.nextBtn {
  border-width: 0;
  background-color: white;
  font-weight: bold;
  font-size: 2rem;
  position: relative;
  cursor: pointer;
}

.dayli {
  border-radius: 30px;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 1.3rem;
}

.dayli.active {
  background-color: rgb(140, 140, 140);
}
.dayofweekli {
  position: relative;
  font-size: 1.3rem;
}
.calendarul {
  border-radius: 30px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  text-align: center;
  font-weight: bold;
}

.calendarul:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.calendarul.active {
  background-color: black;
  color: white;
}
.calendarul.nextBtnClicked {
  background-color: white;
  color: black;
}
.festivalschedule {
  position: relative;
  left: 25.8%;
  top: 4rem;
  background-color: rgb(206, 220, 255);
  display: inline-block;
  padding: 8px;
  border-radius: 20px;
}
.schedulDes {
  font-weight: 550;
  font-size: 1.4rem;
}
.scheduleregion {
  font-weight: 1000;
  font-size: 1.7rem;
}
